<header class="header">
  <div class="container">
    <div class="header__nav">
      <ul class="socials">
        {{#each links}}
          <li class="socials__item socials__item--{{icon}}">
            <a href="{{url}}" target="_blank" class="socials__link"><img src="/img/icons/{{icon}}.svg" alt="{{icon}} icon"></a>
          </li>
        {{/each}}
      </ul>

      <a href="/menu" class="header__menu">
        <img src="/img/icons/hamburger.svg" alt="menu icon">
      </a>
    </div>

    <div class="header__info">
      <div class="header__info-inner">
        <p class="header__ava"><img src="/img/rubets-photo.jpg" alt="rubets photo"></p>
        <h1 class="header__name">Serhii Rubets</h1>
        <h2 class="header__text">Fullstack JS developer</h2>
      </div>
    </div>

    <a href="/about-me" class="header__arrow-down"><img src="/img/icons/arrow_down.svg" alt="arrow down icon"></a>


    {{> navbar}}
  </div>
</header>

<section class="about">
  <div class="about__me about__me--general">
    <div class="about__main-title"><h2>About me</h2></div>
    <div class="about__info">
      <div class="about__photo">
        <img src="/img/rubets-photo.jpg" alt="rubets photo">
      </div>
      <div class="about__me-subtitle">
        <h2>Who am I</h2>
      </div>
      <div class="about__me-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi id laboriosam magni nihil
        perspiciatis provident quod rem vitae voluptates? Ad aliquid consequatur
        deleniti distinctio dolorem dolores earum fugit id nihil nostrum odit placeat qui quisquam, rerum sequi,
        tempore vero!
      </div>
    </div>
  </div>
  <div class="about__me">
    <div class="about__me-subtitle"><h2>How can i be <br> useful</h2></div>
    <div class="about__me-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi id laboriosam magni nihil
    </div>

    <ul class="about__skills">
      {{#each skills}}
       <li>
         <h2 class="about__skills-title">{{title}}</h2>
         <ul class="about__skills-list">
           {{#each items}}
             <li class="about__skills-item">
               <svg width="120" height="120" class="g-circles">
                 <circle r="50" cx="60" cy="60" stroke="#ccc" fill="none" />
                 <circle r="50" cx="60" cy="60" transform="rotate(-90 60 60)" stroke="#16c2aa" class="sector" />
               </svg>
               <p>
                 {{title}}
               </p>
             </li>
           {{/each}}
         </ul>
       </li>
      {{/each}}
    </ul>
  </div>
</section>

<section class="map-container">
  <div id="map" class="map"></div>
  <div class="contacts">
    <div class="contacts__title">
      <h2>Contacts</h2>
    </div>
    <ul class="contacts__list">
      {{#each contacts}}
        <li class="contacts__item">
          <a class="contacts__link" href="{{href}}">
            <img src="/img/icons/{{icon}}" alt="">
            <span>{{text}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>

